html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.body {
  width: 100%;
  height: calc(100vh - 5%);  /* Subtract header height */
  position: relative;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homeBody {
  display: flex;
  flex-direction: row;
}

.nameBody {
  height: 20%;
  width: 100%;
  padding-top: 80px;
  text-align: left !important;
  padding-left: 20%;
  color: white;
}

.cubeBody {
  height: 20%;
  width: 50%;
  padding-top: 80px;
  padding-right: 20%;
}

.header {
  height: 5%;
  width: 100%;
  z-index: 1;
}

.smallerHeader {
  height:15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.smallHeader {
  height:18px;
  font-size: 18px;
  display: flex;
  align-items: center;
  /* margin-bottom: 15px; */
}

.mediumHeader {
  height: 40px;
  font-size: 40px;
  display: flex;
  align-items: center;
  width: 1000px;
}

.largeHeader {
  height: 60px;
  font-size: 60px;
  display: flex;
  align-items: center;
  width: 1000px;
}

.smallBottomSpacer {
  margin-bottom: 10px;
}

.bottomSpacer {
  margin-bottom: 15px;
}

.largeBottomSpacer {
  margin-bottom: 18px;
}

.largeTopSpacer {
  margin-top: 20px;
}

.leftSpacer {
  padding-left: 30px;
}

.largeLeftSpacer {
  padding-left: 60px;
}

.headerSlider {
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.showSlider {
  transform: scaleX(100%);
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.headerButton {
  height: 25px;
  color: white;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}
.headerButton:hover {
  filter: drop-shadow(white 0px 0px 15px);
}
/* 
#root {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
  
  