html, body {
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: unset;
}

.body {
  width: 100%;
  /* height: calc(100vh - 5%); */
  position: relative;
  z-index: 1;
  /* Remove overflow-y: auto from here */
}

.homeBody {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

/* Base nameBody style for non-scrolling pages */
.nameBody {
  width: 100%;
  padding-top: 40px;
  text-align: left !important;
  padding-left: 20%;
  padding-right: 20px;
  color: white;
}

.aboutMeBody {
  overflow-y: auto;
  height: 100%;
}

.header {
  height: 5%;
  width: 100%;
  z-index: 1;
}

.smallerHeader {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 15px; /* Use min-height instead of height */
}

.smallHeader {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 18px;
}

.mediumHeader {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%; /* Make width responsive */
  min-height: 40px;
}

.largeHeader {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%; /* Make width responsive */
  min-height: 60px;
}

.linkFlex {
  flex-direction: row;
}

.smallBottomSpacer {
  margin-bottom: 10px;
}

.bottomSpacer {
  margin-bottom: 15px;
}

.largeBottomSpacer {
  margin-bottom: 18px;
}

.largeTopSpacer {
  margin-top: 20px;
}

.leftSpacer {
  padding-left: 30px;
}

.largeLeftSpacer {
  padding-left: 60px;
}

.smallRightSpacer {
  padding-right: 5px;
}

.headerSlider {
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.showSlider {
  transform: scaleX(100%);
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.headerButton {
  height: 25px;
  color: white;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}
.headerButton:hover {
  filter: drop-shadow(white 0px 0px 15px);
}
  
  